<html>
{% load static %}
<head>
 <link rel="stylesheet" href="{% static "css/1.css" %}"/>
</head>
<body>
 <center><h1>{{name}}'s favourite</h1></center>
<div>
<h2>player:{{player}}</h2>
<h3><a href="https://en.wikipedia.org/wiki/Rohit_Sharma">click to know more</a></h3>
<img src="{% static "images/rohit.jpg" %}" alt="no image"/>
</div>
<hr/>
<div>
<h2>animal:{{animal}}</h2>
<h3><a href="https://en.wikipedia.org/wiki/Lion">click to know more</a></h3>
<img src="{% static "images/lion.jpg" %}" alt="no image"/>
</div>
<hr/>
<div>
<h2>subject:{{subject}}</h2>
<h3><a href="https://wiki.python.org/moin/">click to know more</a></h3>
<img src="{% static "images/python.jpg" %}" alt="no image"/>
</div>
<hr/>
</body>
</html>